.container {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
}

.transactions-table {
    background-color: white;
    border-spacing: 0;
}

.head {
    color: #213d8f;
}

.head, .transaction-element {
    padding: 14px 28px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

th, td {
    border-bottom: 1px solid #e8ebf3;
}

tr:last-child {
    border-bottom: 0;
}