a {
    text-decoration: none;
    color: #4a4a4a;
}

a:visited {
    color: #4a4a4a;
}

.tr-collapsible {
    cursor: pointer;
}

.transactions-table {
    background-color: white;
    border-spacing: 0;
    width: 1100px;
}

.head {
    color: #213d8f;
    font-weight: 600;
}

.head:first-child, .transaction-element:first-child {
    padding: 25px 50px 25px 20px;
}

.head, .transaction-element {
    padding: 25px 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

th, td {
    border-bottom: 1px solid #e8ebf3;
}

tr:last-child {
    border-bottom: 0;
}

.collapse {
    display: none;
    height: 0;
}

.show {
    height: 100%;
    display: table-row;
}

.details {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e8ebf3;
}

.left-column {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-column {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    justify-content: flex-start;
    align-items: flex-start;
}

.detail {
    color: #213d8f;
}

.detail-data {
    color: #4a4a4a;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 3px;
}