.transactions-table {
    background-color: white;
    border-spacing: 0;
}

.head {
    color: #213d8f;
}

.head:first-child, .transaction-element:first-child {
    padding: 25px 50px 25px 20px;
}

.head, .transaction-element {
    padding: 25px 50px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

th, td {
    border-bottom: 1px solid #e8ebf3;
}

tr:last-child {
    border-bottom: 0;
}