<table class="transactions-table">
    <thead>
        <tr>
            <th class="head left" *ngFor="let columnName of tableHead">{{ columnName }}</th>
        </tr>
    </thead>
    <tbody *ngFor="let transaction of transactions; let i = index;">
        <tr>
            <td class="transaction-element left">
                <a href="#collapse-{{ i }}" role="button" (click)="showCollapsible($event.target.hash)">{{ transaction.card.holderName }}</a>
            </td>
            <td class="transaction-element left">
                <a>{{ cardBrands[transaction.brandId] ? cardBrands[transaction.brandId] : transaction.brandId }}</a>
            </td>
            <td class="transaction-element right">
                <a>XXXX {{ transaction.card.lastFourDigits }}</a>
            </td>
            <td class="transaction-element left">
                <a>{{ transaction.action }}</a>
            </td>
            <td class="transaction-element right">
                <a>{{ transaction.amount }},00</a>
            </td>
            <td class="transaction-element left">
                <a>{{ transaction.currencyCode }}</a>
            </td>
        </tr>
        <tr class="collapse" id="collapse-{{ i }}" [ngClass]="{'show': selected === '#collapse-' + i }">
            <td colspan="6">
                <div class="details">
                    <div class="left-column">
                        <pre>{{ transaction.id }}</pre>
                        <pre>{{ transaction.trackingCode }}</pre>
                        <pre>{{ transaction.brandId }}</pre>
                    </div>
                    <div class="right-column">
                        <pre>{{ transaction.card.firstSixDigits }}</pre>
                        <pre>{{ transaction.card.expiryMonth }}</pre>
                        <pre>{{ transaction.card.expiryYear }}</pre>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>