<table class="transactions-table">
    <thead>
        <tr>
            <th class="head left" *ngFor="let columnName of tableHead">{{ columnName }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions"> 
            <td class="transaction-element left">
                <a data-toggle="collapse" href="#collapse">{{ transaction.card.holderName }}</a>
            </td>
            <td class="transaction-element left">
                <a>{{ cardBrands[transaction.brandId] ? cardBrands[transaction.brandId] : transaction.brandId }}</a>
            </td>
            <td class="transaction-element right">
                <a>XXXX {{ transaction.card.lastFourDigits }}</a>
            </td>
            <td class="transaction-element left">
                <a>{{ transaction.action }}</a>
            </td>
            <td class="transaction-element right">
                <a>{{ transaction.amount }}</a>
            </td>
            <td class="transaction-element left">
                <a>{{ transaction.currencyCode }}</a>
            </td>
        </tr>
        
    </tbody>
</table>