<div class="container">
    <div class="wrapper">
        <div class="buttons">
            <select-options (selected)="selectedAction($event)" [options]="transactionOptions" [placeholder]="'Transaction type'"></select-options>
            <select-options (selected)="selectedCururency($event)" [options]="currencyOptions" [placeholder]="'Currency'"></select-options>
            <search-button (queryTransactions)="handleSearch($event)" [currency]="currency" [action]="action"></search-button>
        </div>
        <transactions-table [transactions]="transactions"></transactions-table>
    </div>
</div>